version: "3"
services:
  db:
    image: mysql:8.0.29
    restart: always
    command:
      - --lower_case_table_names=1
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=ecommercedb
      - MYSQL_ROOT_PASSWORD=root1234!!
      - TZ=Asia/Seoul
    volumes:
      - C:\Temp\MYSQL:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:latest
    ports:
      - "5672:5672" # rabbitmq amqp port
      - "15672:15672" # rabbitmq 관리자 도구 port
    environment:
      - RABBITMQ_DEFAULT_USER=admin # rabbitmq 기본 사용자 이름
      - RABBITMQ_DEFAULT_PASS=admin # rabbitmq 기본 사용자 비밀번호
      # rabbitmq management 활성화 명령어
      # rabbitmq-plugins enable rabbitmq_management

  redis:
    image: redis
    command: redis-server
    container_name: redis
    ports:
      - "6379:6379"